.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.section.common-cards {
  cursor: pointer;
}

.section.common-cards .cards > ul > li img {
  aspect-ratio: auto;
}

.section.common-cards ul {
  display: flex;
}

.section.common-cards .cards > ul > li {
  width: 410px;
}

.section.common-cards .cards-card-image {
  overflow: hidden;
  position: relative;
}

.section.common-cards .cards-card-image img {
  width: 426px;
  height: 285px;
  transition: transform 300ms ease-in-out;
}

.section.common-cards .cards > ul > li:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.section.common-cards .cards > ul > li:hover .cards-card-image img {
  transform: scale(1.1);
}

.section.common-cards .cards-card-body {
  margin: 0;
  padding: 8px 24px;
}

.section.common-cards .cards-card-body p {
  font-size: 20px;
  line-height: 28px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: "ubuntu regular", sans-serif;
  margin: 32px 0;
}

.section.common-cards .cards-card-body > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section.common-cards .cards-card-body > ul > li {
  font-size: 15px;
  line-height: 28px;
  color: rgb(146, 146, 146);
  font-weight: 400;
  font-family: "ubuntu medium", sans-serif;
}

.section.common-cards .cards > ul > li:hover .cards-card-body > ul > li {
  color: rgb(237, 28, 36);
}

.section.common-cards .cards > ul > li:hover .cards-card-body > ul > li > img {
  width: 48px;
  height: 48px;
}

.section.common-cards .cards-card-body > ul > li:last-child {
  display: none;
}

.section.common-cards .cards > ul > li:hover .cards-card-body > ul > li:nth-child(2) {
  display: none;
}

.section.common-cards .cards > ul > li:hover .cards-card-body > ul > li:last-child {
  display: block;
}