.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  min-height: 300px;
  height: calc(100vh - var(--nav-height));
  /* layout hero-text-left */
  /* layout hero-text-left end */
  /* layout half-image and text description */
  /* layout half-image and text description end */
}
.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}
.hero video,
.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero .richtext {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10%;
  z-index: 1;
}
.hero .richtext p {
  margin-top: 32px;
  font-size: var(--body-font-size-xl);
  line-height: var(--body-line-height-xl);
  margin-inline: auto;
}
.hero .richtext strong {
  color: rgb(224, 48, 40);
}
.hero .hero-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  animation: appear ease-out forwards;
  animation-duration: 5s;
  background: linear-gradient(to bottom, transparent, black);
  color: white;
}
.hero.text-white .richtext {
  color: white;
}
.hero.width-60per .richtext p {
  width: 100%;
  max-width: 80%;
}
@media (width >= 900px) {
  .hero.width-60per .richtext p {
    max-width: 60%;
  }
}
.hero.width-80per .richtext p {
  width: 100%;
  max-width: 80%;
}
.hero.has-appr-ani video,
.hero.has-appr-ani picture {
  animation: appear ease-out forwards;
  animation-duration: 5s;
  transform-origin: bottom;
}
.hero.text-left .richtext {
  top: 2%;
  text-align: left;
  max-width: 37.5rem;
  padding: 0.75rem 2.5rem 9.313rem 4%;
}
.hero.text-left .richtext p {
  margin-top: 20px;
  color: #4a4a4a;
}
@media (width >= 900px) {
  .hero.text-left .richtext {
    padding: 6.25rem 2.5rem 14.375rem 4%;
  }
}
.hero.hero-layout-half picture {
  height: 50vh;
  display: block;
  position: unset;
}
.hero.hero-layout-half .richtext {
  color: #0c0a09;
  top: 0;
  margin-inline: auto;
}
.hero.hero-layout-half .richtext > div {
  padding: 1rem;
  text-align: left;
}
.hero.hero-layout-half .richtext > div h1 {
  flex: 1;
}
.hero.hero-layout-half .richtext > div p {
  flex: 1;
  margin-top: 0;
}
@media (width >= 900px) {
  .hero.hero-layout-half picture {
    height: 60vh;
    display: block;
  }
  .hero.hero-layout-half .richtext {
    max-width: 80%;
    position: unset;
  }
  .hero.hero-layout-half .richtext > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.size-full {
  width: 100%;
  height: 100%;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}