.section:has(.tabs.overview-tabs) {
    &>div {
        padding: 4rem;
    }

    @media (width >=1050px) {
        &>div {
            max-width: 90%;
            width: 100%;
            padding: 0;
        }
    }
}

.tabs.overview-tabs {
    .tabs-list {
        .tabs-tab {
            background-color: transparent;
            border: none;

            label {
                display: flex;
                cursor: pointer;
                align-items: center;
                line-height: 18px;
                gap: 0.5rem;

                .radio-icon {
                    display: flex;
                    width: 1rem;
                    height: 1rem;
                    align-items: center;
                    justify-content: center;
                    border-radius: 9999px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #9ca3af;

                    &-dot {
                        width: 6px;
                        height: 6px;
                        border-radius: 9999px;
                        background-color: #ef4444;
                    }
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0;
                    color: #4A4A4A;
                }
            }
        }
    }

    .tabs-panel-container {
        .tabs-panel {
            margin-left: 1rem;
            margin-right: 1rem;
            display: flex;
            flex-direction: column;
            place-content: flex-start;
            align-items: flex-start;
            gap: 0.25rem;
            align-self: stretch;
            background-color: transparent;
            border: none;
            padding: 0;

            &[aria-hidden='true'] {
                display: none;
            }

            h2 {
                margin: 0;
                display: inline-block;
                max-width: 100%;
                align-self: stretch;
                font-family: inherit;
                color: black;
                font-weight: 400;
                line-height: 42px;
                font-size: 1.5rem;
            }

            &>div:first-child {
                width: 100%;
                min-height: 25.5rem;
            }

            &>div:nth-child(2) {
                display: flex;
                max-width: 100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1.5rem;
                align-self: stretch;
                line-height: 30px;
                font-size: 18px;
                font-weight: 400;
                color: #4a4a4a;

                p {
                    margin: 0;
                }
            }

        }
    }
}

@media (width <=450px) {
    .tabs.overview-tabs {
        .tabs-list {
            .tabs-tab {
                label {
                    .radio-icon {
                        border-color: #4b5563;
                    }
                }
            }

            .tabs-panel-container {
                .tabs-panel {
                    &>div:first-child {
                        max-height: 220px;
                        min-height: 200px;
                    }

                    &>div:nth-child(2) {
                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}

@media (width >=451px) {
    .tabs.overview-tabs {
        .tabs-panel-container {
            .tabs-panel {
                gap: 1.5rem;
                padding-bottom: 1.5rem;

                h2 {
                    font-size: 1.75rem;
                }
            }
        }
    }
}

@media (width >=1050px) {
    .tabs.overview-tabs {
        .tabs-list {
            .tabs-tab {
                label {
                    gap: 1rem;
                }
            }
        }

        .tabs-panel-container {
            .tabs-panel {
                margin-left: auto;
                margin-right: auto;
                flex-direction: row;
                gap: 4.375rem;

                &>div:first-child video {
                    max-width: 618px;
                }
            }
        }
    }
}