@import url("../swiper/swiper.css");

.carousel {
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.carousel-wrapper {
    position: relative;
}

.carousel > .swiper-wrapper {
    max-width: 1265px;
    width: 100%;
    margin-top: 124px;

    /* padding: 48px; */
}

.carousel > .swiper-slide {
    max-width: 1265px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel > .swiper-wrapper > .swiper-slide > .inner-innerSub-1 {
    max-width: 461px;
    width: 100%;
    height: 100%;
}

.carousel > .swiper-wrapper > .swiper-slide > .inner-innerSub-1 > h3 {
    width: 64%;
    padding-bottom: 10px;
    border-bottom: 1px solid #a5a5a5;
}

.carousel > .swiper-wrapper > .swiper-slide > .inner-innerSub-2 {
    display: flex;
}

.carousel
    > .swiper-wrapper
    > .swiper-slide
    > .inner-innerSub-2
    > p:nth-child(2) {
    opacity: 0.4;
}

.carousel
    > .swiper-wrapper
    > .swiper-slide
    > .inner-innerSub-2
    > p
    > picture
    > img {
    max-width: 365px;
    width: 100%;
}

.carousel > .btnWrapper {
    max-width: 1265px;
    width: 100%;
    position: absolute;
    top: 40px;
}

.carousel .swiper-button-prev::after {
    font-size: 18px;
}

.carousel .swiper-button-next::after {
    font-size: 18px;
}

.carousel.swiper-pagination-bullets {
    max-width: 1265px;
    width: 100%;
    display: flex;

    /* justify-content: center; */
    position: relative;
}

.carousel .default-content-wrapper {
    text-align: center;
}

/* ==== */
.carousel .carousel .swiper {
    width: 100%;
    position: relative;
}

.carousel .swiper-wrapper {
    display: flex;
}

.carousel > .swiper-wrapper > .swiper-slide {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .swiper-button-prev {
    left: 10px;
}

.carousel .swiper-button-next {
    right: 10px;
}

.swiper-pagination-bullet {
    margin: 4 4px;
    opacity: 0.6;
    cursor: pointer;
}

/* 2 */

.carousel .carousel.block {
    position: relative;
    padding: 2rem 0;
}

.carousel .carousel.swiper {
    position: relative;
}

.carousel .swiper-wrapper {
    display: flex;
}

.carousel .swiper-wrapper > .swiper-slide {
    display: flex;
    justify-content: center;
    gap: 20px;

    /* align-items: center; */
    align-items: flex-start;
    margin-top: 100px;
}

.carousel .feature-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.carousel .feature-text {
    flex: 1;
    min-width: 300px;
}

.carousel .feature-img img {
    width: 100%;
    max-width: 400px;
}

.carousel h3.swiper-pagination-bullet {
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0;
    color: #303030;
    font-size: 21px;
    padding-left: 38px;
    border-left: 2px solid black;
    background-color: white;
    opacity: 0.9;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: TSTAR-PRO-Regular;
    text-wrap: nowrap;
}

.carousel .swiper-pagination-bullet img {
    width: 30px;
    height: 30px;
}

.carousel .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    color: #ed1c24;
    font-family: TSTAR-PRO-Bold;
    font-weight: 900;
}

.carousel .swiper-pagination-bullet span {
    font-weight: 500;
    margin-top: 4px;
}

.carousel .swiper-button-prev,
.carousel .swiper-button-next {
    background: #ed1c24;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    transform: translateY(-150%);
    z-index: 13;
}

.carousel .swiper-button-prev {
    left: 10px;
    top: 44px;
}

.carousel .swiper-button-next {
    right: 10px;
    top: 44px;
}

.carousel .btnWrapper > .swiper-pagination {
    max-width: 1064px;
    height: 19px;
    width: 100%;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-left: 53px;
    gap: 1rem;

    /* margin-bottom: 10px; */
    margin-top: 2px;
}

.carousel .inner-innerSub-1 > h2 {
    font-family: TSTAR-PRO-Regular;
    padding-bottom: 20px;
    border-bottom: 1px solid #a5a5a5;
    width: max-content;
}

.carousel .swiper-pagination > h3 {
    width: max-content;
    padding: 7px;
    padding-left: 31px;
}

.carousel #xsens-fi-technology {
    max-width: 100%;
    width: max-content !important;
}

.inner-innerSub-1 > h2 > .icon > img {
    transform: rotate(17deg) scale(1.2);
    transition: transform 0.3s ease;
    width: 66%;
}

.carousel .swiper-button-prev.disabled,
.carousel .swiper-button-next.disabled {
    /* opacity: 0.4; */
    background: none;
    color: rgb(117 115 115);
    pointer-events: none;
    cursor: default;
}

.carousel-container > .default-content-wrapper > h2 {
    font-family: TSTAR-PRO-Heavy;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    padding: 30px;
    font-size: 3rem;
}

.carousel-container {
    margin-top: 64px;
}

@media (width <= 600px) {
    .swiper-slide {
        flex-direction: column;
        gap: 20px;
    }

    .swiper-wrapper {
        padding: 0;
    }

    .btnWrapper > .swiper-pagination {
        gap: 0;
        width: 80%;
    }

    .swiper-slide {
        flex-direction: column;
    }

    .inner-innerSub-2 > p > picture > img {
        max-width: 200px;
        width: 100%;
        min-height: 200px;
        object-fit: contain;
    }

    .inner-innerSub-1 > h2 {
        font-size: 24px;
    }

    .carousel .swiper-wrapper > .swiper-slide {
        margin-top: 60px;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .carousel > .swiper-wrapper {
        margin-top: 69px;
    }

    .carousel-container > .default-content-wrapper > h2 {
        font-size: 1.75rem;
    }

    .price-listing>div:nth-child(2)>div>ul>li:nth-child(1)>fieldset>div{
        font-size: 14px;
    }

    .price-listing>div:nth-child(2)>div>p {
      font-size: 14px;
    }
}

.carousel.carousel-style .swiper-slide{
    display: block;
    background: #f9fafb;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .5rem;
    min-height: 409px;
    padding: 1rem 1rem 1.625rem;
    transition: all .3s ease;
    box-sizing: border-box;
}

.carousel.carousel-style .swiper-slide div:nth-child(1){
    width: 100%;
    height: auto;
}

.carousel.carousel-style .swiper-slide div p:nth-child(1){
    margin: 0;
}

.carousel.carousel-style .swiper-slide div:nth-child(1) p:nth-child(1) img{
    width: 100%;
}

.carousel.carousel-style .swiper-slide div:nth-child(1) p:nth-child(1) img:hover{
     transition: all .4s ease;
    transform: scale(1.05);
}

.carousel.carousel-style .swiper-slide div:nth-child(2) p:nth-child(1){
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 1.2rem;
    color: #535353;
    height: 45px;
    overflow: hidden;
}

.carousel.carousel-style .swiper-slide div:nth-child(2){
    display: block;
}

.carousel.carousel-style .swiper-slide div:nth-child(2) p:nth-child(2){
    color: #004c8f;
    font-size: 1rem;
    line-height: normal;
    opacity: 1;
    font-weight: 800;
    cursor: pointer;
}

.tab.tab-style .carousel-container{
  margin-top: 0;
}

.swiper-button-prev,.swiper-button-next{
    display: none !important;
}

.carousel.carousel-style{
    margin-bottom: 60px;
    background: transparent;
}

.carousel.carousel-style .btnWrapper{
    bottom: -8%;
    top: unset;
}

.carousel.carousel-style .btnWrapper .swiper-pagination{
    justify-content: center;
}

.carousel.carousel-style .swiper-wrapper > .swiper-slide{
    margin-top: 0;
}

.carousel.carousel-style .swiper-wrapper{
    margin-top: 0 !important;
    margin-left: 10px;
}

.carousel.carousel-style .swiper-pagination-bullet{
    background: #b1d5f4;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 1;
    transition: opacity 0.3s;
}

.carousel.carousel-style .swiper-pagination-bullet-active{
   background: #004c8f;
}

html, body {
  overflow-x: hidden;
}

@media screen and (width <= 768px){
    .carousel.carousel-style .swiper-slide{
    margin-right: 0;
    min-height: 413px;
}

.carousel.carousel-style .swiper-slide div:nth-child(1) p:nth-child(1) img{
    width: 100%;
}

.carousel.carousel-style .btnWrapper{
    bottom: -8%;
}

.carousel.carousel-style .btnWrapper .swiper-pagination{
    margin-left: 0;
}

  .carousel.carousel-style .swiper-wrapper {
    margin-left: 0;
  }
}

.section.carousel-container .swiper-wrapper{
    display: flex;
}

ul li.active {
  font-weight: bold;
  border-bottom: 2px solid red;
  cursor: pointer;
}