@import url("../swiper/swiper.css");

// Most specific first
.section {
  &.carousel-style {
    .style-column-5 {
      > div {
        > div:nth-child(2) {
          .swiper-slide {
            > div {
              p {
                &:nth-child(3) {
                  font-size: 14px;
                  line-height: normal;
                  font-weight: 400;
                  font-family: 'poppin regular';
                  color: rgb(109 109 109);
                  margin: 32px 0;
                }

                &:nth-child(2) {
                  margin-top: 205px;
                  font-size: 28px;
                  line-height: normal;
                  font-weight: 400;
                  font-family: 'poppin regular';
                  color: rgb(224 48 40);
                }
              }

              img {
                width: 167px;
                height: 160px;
              }
            }

            &.swiper-slide-active {
              opacity: 1;
            }

            opacity: 0.3;
            background-color: #fff;
            cursor: pointer;
          }
        }

        > div:nth-child(1) {
          h2 {
            font-size: 48px;
            line-height: 68px;
            font-weight: 300;
            font-family: 'poppin light';
          }

          > p {
            margin-top: 20px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 400;
            font-family: 'poppin regular';
            color: rgb(74 74 74);

            &:nth-child(3) {
              margin-top: 0;
              color: rgb(0 0 0);
            }

            &:nth-child(4) {
              margin-top: 72px;
              color: rgb(74 74 74);
            }
          }

          ul {
            margin-top: 20px;

            li {
              font-size: 15px;
              line-height: 15px;
              font-weight: 400;
              font-family: 'poppin regular';
              color: rgb(74 74 74);
              padding-bottom: 12px;
              margin-bottom: 16px;
              max-width: fit-content;
              cursor: pointer;

              &.active {
                border-bottom: 1px solid rgb(224 48 40);
                color: rgb(224 48 40);
              }
            }
          }

          padding: 84px 100px 84px 16px;
          width: 40%;
          border-right: 1px solid rgb(197 197 197);
        }
      }
    }

    .carousel {
      .btn-wrapper {
        > .swiper-pagination {
          display: none;
        }
      }

      > .swiper-wrapper {
        margin-top: 0;
      }

      background: none;
    }

    .swiper-wrapper {
      > .swiper-slide {
        margin-top: 0;
      }
    }

    .carousel-container {
      padding-left: 64px;
      margin-top: 32px;
      width: 59%;
    }

    .columns-wrapper {
      max-width: 100%;
      padding: 12px 17px 12px 191px;
      margin: unset;
    }
  }

  &.carousel-container {
    .swiper-wrapper {
      display: flex;
    }
  }
}

.style-column-5 {
  .carousel {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}

// Responsive (Mobile <768px)
@media (width < 768px) {
  .section {
    &.carousel-style {
      .style-column-5 {
        > div {
          > div:nth-child(2) {
            .swiper-slide {
              > div {
                p {
                  &:nth-child(2) {
                    margin-top: 48px;
                    font-size: 18px;
                  }

                  &:nth-child(3) {
                    font-size: 16px;
                    margin: 12px 0;
                  }
                }

                img {
                  width: 67px;
                  height: 61px;
                }

                padding: 34px 16px;
              }

              margin: 20px 0;
            }
          }

          > div:nth-child(1) {
            h2 {
              font-size: 29px;
              line-height: 41px;
            }

            p:nth-child(4) {
              margin-top: 18px;
            }

            ul {
              margin-top: 20px;
              display: flex;
              overflow-y: auto;
              gap: 15px;
              white-space: nowrap;
            }

            padding: 0;
            width: 100%;
            border-right: none;
          }
        }
      }

      .carousel {
        > .swiper-wrapper {
          margin-top: 0;
          padding: 0 32px 0 16px;
        }
      }

      .carousel-container {
        padding-left: 0;
        margin-top: 0;
        width: 100%;
        background-color: rgb(245 245 245);
      }

      .columns-wrapper {
        max-width: 100%;
        padding: 16px;
        background-color: #fff;
      }
    }
  }
}
