@font-face {
  font-family: 'ubuntu medium';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu Bold';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ubuntu-R.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu thin';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Ubuntu-Th.ttf') format('truetype');
}